.toolbar{
  --background: Green;
  text-align: center;
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.back{
  --background: url(https://img.freepik.com/vetores-gratis/papel-de-parede-abstrato-branco_23-2148830026.jpg);
}
.valendo{
  --background: whitesmoke;
  text-align: center;
  color: Green;
  border-radius: 5%;
  --border-color: Green;
}

.fonte{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:x-large;
}

.buttons{
 --background: Green;
 color: whitesmoke;
}
.buttons2{
  --background:Green;
  color: whitesmoke;
  width: 40%;
}

.espacamento{
  padding-top: 2vh;
}

.midButton{
  display: flex;
  justify-content: center;
}

.pontos{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:x-large;
  color:Green;
}
.back-pontos{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border-style: solid;
  border-color: Green;
}
