<ion-header [translucent]="true" >
  <ion-toolbar class="color-text">
    <ion-title>
      Contador de truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="back" >

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label > Valendo </ion-label>
          <h1>{{valendo}}</h1>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="btn1()"> 1 </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="btn3()"> 3  </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="btn6()"> 6 </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="btn9()"> 9 </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="btn12()"> 12 </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>time 1</ion-item>
        <ion-button (click)="mais1()"> + </ion-button>
        <ion-card>{{pontos1}}</ion-card>
        <ion-button (click)="menos1()"> - </ion-button>
      </ion-col>

      <ion-col>
        <ion-item>time 2</ion-item>
        <ion-button (click)="mais2()"> + </ion-button>
        <ion-card>{{pontos2}}</ion-card>
        <ion-button (click)="menos2()"> - </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>Partidas</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-item>Time 1</ion-item>
      <ion-card>{{ganhou1}}</ion-card>
    </ion-row>

    <ion-row>
      <ion-item>Time 2</ion-item>
      <ion-card>{{ganhou2}}</ion-card>
    </ion-row>

    <ion-button (click)="limpar()"> Limpar </ion-button>
  </ion-grid>

</ion-content>
