<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title> Contador de truco </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="back">
  <ion-grid>
    <ion-row class="espacamento">
      <ion-col>
        <ion-item class="valendo">
          <ion-label class="fonte"> Valendo : {{valendo}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="btn1()" expand="full" class="buttons">
          1
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="btn3()" expand="full" class="buttons">
          3
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="btn6()" expand="full" class="buttons">
          6
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="btn9()" expand="full" class="buttons">
          9
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="btn12()" expand="full" class="buttons">
          12
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="espacamento">
      <ion-col>
        <ion-item class="valendo">
          <ion-label class="fonte"> TIME 1 </ion-label>
        </ion-item>
        <div class="midButton">
          <ion-button (click)="mais1()" class="buttons2"> + </ion-button>
        </div>
        <ion-card>{{pontos1}}</ion-card>
        <div class="midButton">
          <ion-button (click)="menos1()" class="buttons2"> - </ion-button>
        </div>
      </ion-col>

      <ion-col>
        <ion-item class="valendo">
          <ion-label class="fonte"> TIME 2 </ion-label>
        </ion-item>
        <div class="midButton">
          <ion-button (click)="mais2()" class="buttons2"> + </ion-button>
        </div>
        <ion-card>{{pontos2}}</ion-card>
        <div class="midButton">
          <ion-button (click)="menos2()" class="buttons2"> - </ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>Partidas</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-item>Time 1</ion-item>
      <ion-card>{{ganhou1}}</ion-card>
    </ion-row>

    <ion-row>
      <ion-item>Time 2</ion-item>
      <ion-card>{{ganhou2}}</ion-card>
    </ion-row>

    <ion-button (click)="limpar()"> Limpar </ion-button>
  </ion-grid>
</ion-content>
