<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title> Contador de truco </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="back">
  <ion-grid>
    <ion-row class="espacamento">
      <ion-col>
        <ion-item class="valendo">
          <ion-label class="fonte"> Valendo : {{valendo}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="btn1()" expand="full" class="buttons">
          1
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="btn3()" expand="full" class="buttons">
          3
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="btn6()" expand="full" class="buttons">
          6
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="btn9()" expand="full" class="buttons">
          9
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="btn12()" expand="full" class="buttons">
          12
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="espacamento">
      <ion-col>
        <ion-item class="valendo">
          <ion-label class="fonte"> TIME 1 </ion-label>
        </ion-item>

        <div class="midButton">
          <ion-button (click)="mais1()" class="buttons2"> + </ion-button>
        </div>

        <div class="midButton">
          <ion-card class="back-pontos">
            <ion-card-content class="pontos">{{pontos1}}</ion-card-content>
          </ion-card>
        </div>
        <div class="midButton">
          <ion-button (click)="menos1()" class="buttons2"> - </ion-button>
        </div>
      </ion-col>

      <ion-col>
        <ion-item class="valendo">
          <ion-label class="fonte"> TIME 2 </ion-label>
        </ion-item>
        <div class="midButton">
          <ion-button (click)="mais2()" class="buttons2"> + </ion-button>
        </div>

        <div class="midButton">
          <ion-card class="back-pontos">
            <ion-card-content class="pontos">{{pontos2}}</ion-card-content>
          </ion-card>
        </div>

        <div class="midButton">
          <ion-button (click)="menos2()" class="buttons2"> - </ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="espacamento">
      <ion-item class="valendo">
        <ion-label class="fonte"> PARTIDAS </ion-label>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="valendo">
          <ion-label class="fonte"> Time 1 : </ion-label>
          <ion-label class="fonte">{{ganhou1}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="valendo">
          <ion-label class="fonte"> Time 2 : </ion-label>
          <ion-label class="fonte">{{ganhou2}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <div class="midButton">
      <ion-button (click)="limpar()" class="buttons2"> Limpar </ion-button>
    </div>
  </ion-grid>
</ion-content>
