.toolbar{
  --background: black;
  text-align: center;
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.back{
  --background: url(https://img.freepik.com/vetores-gratis/fundo-branco-abstrato_23-2148844576.jpg);
}
.valendo{
  --background: whitesmoke;
  text-align: center;
  color: black;
  border-radius: 5%;
  --border-color: black;
}

.fonte{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:x-large;
}

.buttons{
 --background: black;
 color: whitesmoke;
}
.buttons2{
  --background:black;
  color: whitesmoke;
  width: 40%;
}

.espacamento{
  padding-top: 2vh;
}

.midButton{
  display: flex;
  justify-content: center;
}

.pontos{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:x-large;
  color: black;
}
.back-pontos{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
}
